@inject IHttpContextAccessor HttpContextAccessor
@model AdminGUI.Models.SentimentModel

@{
    ViewData["Title"] = "Edit";
    if (HttpContextAccessor.HttpContext.Session.GetString("username") == null)
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/");
        return;
    }
}

<h1>Edit Sentiment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly="@(true)" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" readonly="@(true)" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextSearched" class="control-label"></label>
                <input asp-for="TextSearched" class="form-control" readonly="@(true)" />
                <span asp-validation-for="TextSearched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentimentResult" class="control-label"></label>
                <input asp-for="SentimentResult" class="form-control" />
                <span asp-validation-for="SentimentResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PercentageScore" class="control-label"></label>
                <input asp-for="PercentageScore" class="form-control" readonly="@(true)" />
                <span asp-validation-for="PercentageScore" class="text-danger"></span>
            </div>
            <br />
            <div class="btn-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                &nbsp;&nbsp;
                <a asp-action="Maintenance" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
