@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    if (HttpContextAccessor.HttpContext.Session.GetString("username") == null)
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/");
        return;
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
